services:
  frontend:
    build:
      context: ./frontend
      target: development
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    env_file:
      - .env.local
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8787
      - NEXT_SERVER_API_URL=http://backend:8787
      - NEXT_PUBLIC_IS_DOCKER=true
    command:
      - pnpm
      - run
      - dev

  backend:
    build:
      context: ./backend
      target: development
    ports:
      - "8787:8787"  # Honoサーバーのデフォルトポート
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    env_file:
      - .env.local
    environment:
      - PORT=8787

volumes:
  frontend_node_modules:
  backend_node_modules:
