.container {
  padding-bottom: 92px;
  font-family: var(--font-zen-old-mincho);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.statsSection {
  margin: 0 auto;
}

.statsText {
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 1.4;
  color: var(--aikinote-black);
  margin: 0;
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.statsNumber {
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-3xl);
  font-weight: 400;
  line-height: 1.4;
  color: var(--aikinote-black);
}

.pageListWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pageListDescription {
  margin-bottom: 0;
}

.pageTitle {
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 1.4;
  color: var(--aikinote-black);
}

.pageCount {
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 1.4;
  color: var(--aikinote-text-light);
  margin: 0;
}

.trainingList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loadMoreButton {
  background-color: var(--primary-color);
  color: var(--aikinote-white); /* 白いテキスト */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--font-size-base);
  transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
  background-color: var(--primary-dark);
}
