.stepDots {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 60px;
  left: 18px;
  right: 18px;
}

.stepDot {
  width: var(--step-dot-size, 16px);
  height: var(--step-dot-size, 16px);
  border-radius: 50%;
  background-color: var(--step-dot-inactive-color, #efecec);
}

.stepDotActive {
  background-color: var(--step-dot-active-color, #838383);
}

@media (min-width: 768px) {
  .stepDots {
    top: 68px;
    left: 30px;
    right: 28px;
  }
}
