.tag {
  display: inline-flex;
  align-items: center;
  padding: 3px 10px;
  border-radius: 4px;
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-xs);
  font-weight: 400;
  line-height: 1.45;
  transition: all 0.4s ease-out;
  border: none;
  height: 21px;
  box-sizing: border-box;
  letter-spacing: 0.03em;
}

.default {
  background: linear-gradient(180deg, #3e3e3c 0%, var(--black) 40%);
  color: var(--white);
}

.selected {
  background: var(--primary-color);
  color: var(--white);
}

.selectable {
  background: var(--white);
  color: var(--black);
  border: 0.5px solid var(--border-color);
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.85;
}
