.profileSection {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: var(--font-size-sm);
  color: var(--text-light);
  font-weight: 400;
}
