.button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: var(--font-zen-old-mincho);
  transition: all 0.4s ease-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  letter-spacing: 0.04em;
}

.primary {
  background-color: var(--primary-color);
  color: var(--aikinote-white);
  border: none;
  border-radius: 6px;
  padding: 0 20px;
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-sm);
  line-height: 1.45;
  cursor: pointer;
  height: 36px;
  min-width: 53px;
  font-weight: 400;
}

.primary:hover {
  background-color: var(--primary-dark);
}

.secondary {
  background-color: transparent;
  color: var(--aikinote-black);
  border: 0.5px solid var(--border-color);
  border-radius: 6px;
  padding: 0 20px;
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-sm);
  line-height: 1.45;
  cursor: pointer;
  height: 36px;
  min-width: 82px;
  font-weight: 400;
}

.secondary:hover {
  background-color: var(--aikinote-hover-gray);
  border-color: var(--aikinote-gray);
}

.icon {
  background: transparent;
  color: var(--aikinote-black);
  padding: 4px;
  border-radius: 6px;
  min-width: 28px;
  min-height: 28px;
  width: auto;
  height: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.danger {
  background-color: var(--error-color);
  color: var(--aikinote-white);
  border: none;
  border-radius: 6px;
  padding: 0 20px;
  font-family: var(--font-zen-old-mincho);
  font-size: var(--font-size-sm);
  line-height: 1.45;
  cursor: pointer;
  height: 36px;
  min-width: 82px;
  font-weight: 400;
}

.danger:hover {
  background-color: #a94d4d;
}

.small {
  padding: 8px;
  font-size: var(--font-size-xs);
}

.medium {
  padding: 12px 20px;
  font-size: var(--font-size-xs);
}

.large {
  padding: 16px 28px;
  font-size: var(--font-size-sm);
}

.button:hover {
  opacity: 0.95;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
